<div class="main top-main">
    <div class="top-wrapper">
      <div class="top-message">
        <h2>お金の管理が苦手…
            <br>
            そんな方に向けたマネ―管理ツールです
        </h2>    
      </div>
        <p>お金とスケジュールを一括管理</p>
    
        <div class="btn-wrapper">
        　 <%= link_to '新規登録はこちら　', new_user_registration_path %>
        </div>
    </div>

    <div class="description">
      <h2 class="description-CC">
        お金とスケジュールを一括管理
      </h2>
      <p>
        予定と一緒にお金を管理し、
        <br>
        自分が使ったお金を管理しやすくします
      </p>
    </div>

    <div class="use">
      <h2 class="use-CC">
        予定を追加するついでにお金を管理
      </h2>
      <p>
        予定と一緒に収入支出も入力できるため
        <br>
        その時なににお金を使ったかを記憶しやすいです
      </p>
      
    </div>
    <br/>
    <div class="use-img">
      <img src='/assets/inputform.png'>
    </div>

    <div class="element">
      <h2 class="element-CC">
        重要な情報が目に入りやすい
      </h2>
      <p>
        予定と一緒に収入支出を入力するだけで自動的に
        <br>
        今月使えるお金と今日使えるお金を計算して表示してくれます
      </p>
    </div>
    <br/>
    <div class="element-img">
      <img class="elemimg" src='/assets/elementimg.png' width="600" height="500">
    </div>
    
</div>
