<div class = "main users-new">
    <div class="container">
        <div class="form-heading"><h5>新しい予定</h5></div>

        <%= render 'form', event: @event %>

        <%= link_to '戻る', "/money_m/index" %>
    </div>
</div>

